
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.flex-master {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height: 100%;
  overflow: auto;
}

.sidePanel {
  flex: 2 2 20%;

  background: lavender;
  background-image: url("/images/backgroundStar.png");
  background-repeat: repeat;
}

.pageContent {
  flex: 6 6 60%;
  max-width: 810px; 

  /* New flex container for content */
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}

div#bookHeader {
  flex: none; /* Fixed size */
  border-style: solid; 
  border-width: 1;
  border-color: gray;
  background: aliceblue;
}

div#bookTitleContainer {
  display: inline;
}

#bookTitle {
  display: inline;
}

div#bookAuthor {
  display: inline;
}

div#chapterControlContainer {
  border-style: double solid;
  border-width: 2;
  border-color: gray;
  background-color: lightsteelblue;
}

.navHome {

}

.chapterHeader {
  font-weight: bold;
}

.mainContentArea {
  flex: 1 1 auto;
  overflow-y: scroll;
  background-color: white;
  border-style: solid; 
  border-width: 1;
  border-color: lightsteelblue;
  padding-left: 5px;
  padding-right: 5px;
}
