.bookHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: gray;
}

div#bookTitleContainer {
  border: solid blue;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
}

#bookTitle {
  display: inline;
}

div#bookAuthor {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
}

div#chapterControlContainer {
  border: solid black;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

div#readingAreaContainer {
  position: absolute;
  top: 106px;
}
